# Sonek Python Project

# 1. Program that Asks the User for their Current Age and Tells Them How Old They Will Be in a Year

In [2]:
def age_in_a_year():
    current_age = int(input("Please enter your current age: "))
    age_next_year = current_age + 1
    print(f"You will be {age_next_year} years old in a year.")

age_in_a_year()

Please enter your current age:  24

You will be 25 years old in a year.

In [3]:
current_age = int(input("What is your current age? "))
age_in_a_year = current_age + 1
print(f"In a year, you will be {age_in_a_year} years old.")

What is your current age?  24

In a year, you will be 25 years old.

# 2. Python Function that Asks the User for Their Total Marks of a Subject and Tells Them What Their Grade Is

In [4]:
def get_grade():
    marks = float(input("Enter your total marks for the subject: "))
    if marks >= 70:
        grade = 'A'
    elif marks >= 60:
        grade = 'B'
    elif marks >= 50:
        grade = 'C'
    elif marks >= 40:
        grade = 'D'
    else:
        grade = 'F'
    print(f"Your grade is: {grade}")

get_grade()

Enter your total marks for the subject:  66

Your grade is: B

In [5]:
def get_grade(total_marks):
    if total_marks >= 90:
        grade = "A"
    elif total_marks >= 80:
        grade = "B"
    elif total_marks >= 70:
        grade = "C"
    elif total_marks >= 60:
        grade = "D"
    else:
        grade = "F"
    return grade

total_marks = float(input("What is your total marks for the subject? "))
print(f"Your grade is: {get_grade(total_marks)}")

What is your total marks for the subject?  30

Your grade is: F

# 3. Python Function that Asks the User for Three Numbers and Outputs Them in Ascending Numerical Order

In [6]:
def sort_three_numbers():
    numbers = []
    for i in range(3):
        number = float(input(f"Enter number {i+1}: "))
        numbers.append(number)
    numbers.sort()
    print("Numbers in ascending order:", numbers)

sort_three_numbers()

Enter number 1:  5
Enter number 2:  3
Enter number 3:  6

Numbers in ascending order: [3.0, 5.0, 6.0]

In [7]:
def sort_numbers(num1, num2, num3):
    numbers = [num1, num2, num3]
    numbers.sort()
    return numbers

num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))

sorted_numbers = sort_numbers(num1, num2, num3)
print(f"The numbers in ascending order are: {sorted_numbers}")

Enter the first number:  5
Enter the second number:  8
Enter the third number:  7

The numbers in ascending order are: [5.0, 7.0, 8.0]

# 4. Program that Tells the Smallest and Largest Numbers in a List Input by the User

In [9]:
def find_min_max():
    numbers = input("Enter a list of numbers separated by spaces: ").split()
    numbers = [float(number) for number in numbers]
    smallest = min(numbers)
    largest = max(numbers)
    print(f"The smallest number is: {smallest}")
    print(f"The largest number is: {largest}")

find_min_max()

Enter a list of numbers separated by spaces:  44

The smallest number is: 44.0
The largest number is: 44.0

In [10]:
user_input = input("Enter a list of numbers separated by spaces: ")
numbers = [float(x) for x in user_input.split()]

smallest = min(numbers)
largest = max(numbers)

print(f"The smallest number in the list is: {smallest}")
print(f"The largest number in the list is: {largest}")

Enter a list of numbers separated by spaces:  5

The smallest number in the list is: 5.0
The largest number in the list is: 5.0

# 5. Program that Asks the User for a String and Tells Whether or Not the String Is a Palindrome

In [12]:
def check_palindrome():
    user_string = input("Enter a string: ").strip()
    if user_string == user_string[::-1]:
        print("The string is a palindrome.")
    else:
        print("The string is not a palindrome.")

check_palindrome()

Enter a string:  4

The string is a palindrome.

In [13]:
def is_palindrome(string):
    # Remove any spaces and convert to lowercase
    string = ''.join(string.lower().split())
    return string == string[::-1]

user_string = input("Enter a string: ")
if is_palindrome(user_string):
    print(f"The string '{user_string}' is a palindrome.")
else:
    print(f"The string '{user_string}' is not a palindrome.")

Enter a string:  2

The string '2' is a palindrome.

# Import a csv file of your choice (Has to be related to trade, agriculture or tourism). Create a code to output the top 10 scorers of a column of your dataset (This may be something like the top 10 in terms of salary earned or whatever else your dataset has).

In [15]:
import pandas as pd

# Load the dataset
df = pd.read_csv(r'C:\Users\ADMIN\Downloads\Projects Reviews\python datasets and projects\archive (1)\World Indicators.csv')

In [16]:
df.head()

,Birth Rate,Business Tax Rate,CO2 Emissions,Country,Days to Start Business,Ease of Business,Energy Usage,GDP,Health Exp % GDP,Health Exp/Capita,...,Population 0-14,Population 15-64,Population 65+,Population Total,Population Urban,Region,Tourism Inbound,Tourism Outbound,Year,Header
0,0.020,NaN,87931.0,Algeria,NaN,NaN,26998.0,"$54,790,058,957",0.035,$60,...,0.342,0.619,0.039,31719449,0.599,Africa,"$102,000,000","$193,000,000",01/12/2000,Data
1,0.050,NaN,9542.0,Angola,NaN,NaN,7499.0,"$9,129,594,819",0.034,$22,...,0.476,0.499,0.025,13924930,0.324,Africa,"$34,000,000","$146,000,000",01/12/2000,Data
2,0.043,NaN,1617.0,Benin,NaN,NaN,1983.0,"$2,359,122,303",0.043,$15,...,0.454,0.517,0.029,6949366,0.383,Africa,"$77,000,000","$50,000,000",01/12/2000,Data
3,0.027,NaN,4276.0,Botswana,NaN,NaN,1836.0,"$5,788,311,645",0.047,$152,...,0.383,0.587,0.029,1755375,0.532,Africa,"$227,000,000","$209,000,000",01/12/2000,Data
4,0.046,NaN,1041.0,Burkina Faso,NaN,NaN,NaN,"$2,610,959,139",0.051,$12,...,0.468,0.505,0.028,11607944,0.178,Africa,"$23,000,000","$30,000,000",01/12/2000,Data

In [40]:
df.tail()

,Birth Rate,Business Tax Rate,CO2 Emissions,Country,Days to Start Business,Ease of Business,Energy Usage,GDP,Health Exp % GDP,Health Exp/Capita,...,Population 0-14,Population 15-64,Population 65+,Population Total,Population Urban,Region,Tourism Inbound,Tourism Outbound,Year,Header
2699,NaN,NaN,NaN,Turks and Caicos Islands,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,32427,0.911,The Americas,NaN,NaN,01/12/2012,Data
2700,0.013,46.4%,NaN,United States,5.0,4.0,2132446.0,"$16,244,600,000,000",0.179,"$8,895",...,0.196,0.667,0.136,313873685,0.811,The Americas,"$200,092,000,000","$126,573,000,000",01/12/2012,Data
2701,0.015,41.9%,NaN,Uruguay,7.0,85.0,NaN,"$50,004,354,667",0.089,"$1,308",...,0.220,0.639,0.140,3395253,0.948,The Americas,"$2,222,000,000","$1,028,000,000",01/12/2012,Data
2702,0.020,61.9%,NaN,"Venezuela, RB",144.0,180.0,NaN,"$381,286,223,859",0.046,$593,...,0.288,0.652,0.060,29954782,0.889,The Americas,"$904,000,000","$3,202,000,000",01/12/2012,Data
2703,0.011,NaN,NaN,Virgin Islands (U.S.),NaN,NaN,NaN,NaN,NaN,NaN,...,0.206,0.641,0.152,105275,0.949,The Americas,NaN,NaN,01/12/2012,Data

In [44]:
top_10_countries = df.nlargest(10, 'Birth Rate')

# Output the top 10 countries by tourism revenue
print(top_10_countries[['Country', 'Birth Rate']])

     Country  Birth Rate
35     Niger       0.053
243    Niger       0.053
451    Niger       0.052
659    Niger       0.052
867    Niger       0.052
8       Chad       0.051
216     Chad       0.051
424     Chad       0.051
1075   Niger       0.051
1283   Niger       0.051